html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: "Roboto Condensed", sans-serif;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
